{% extends 'hod_templates/base_template.html' %}
{% block page_title %}
Edit Course Details || Courses Name: {{ course.course_name }}
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">

              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/edit_courses_save" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Courses Name</label>
                    <input type="text" class="form-control" name="course_name" placeholder="Enter Course name" value="{{ course.course_name }}">
                  <input type="hidden" class="form-control" name="course_id" value="{{ course.id }}">

                  </div>

                  <div class="form-group">
                    <label>Select Course Session</label>
                    <select class="form-control" name="session">
                        {% for scs in sessions %}
                        <option value="{{ scs.id }}" {% if scs.id == course.session_year_id.id %} selected {% endif %}>{{ scs.session_start_year }} - to - {{ scs.session_end_year }}</option>
                        {% endfor %}
                    </select>
                  </div>

                  <div class="form-group">
                    <label>About Course</label>
                    <input type="text" class="form-control" name="description" placeholder="Enter short description" value="{{ course.description }}">
                  </div>

                      <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}