{% extends 'hod_templates/base_template.html' %}
{% block page_title %}
Manage Course Details
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
  <div class="row">
          <div class="col-12">
            <div class="card">
            
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Course Name</th>
                      <th>Session</th>
                      <th>About Course</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for course in courses %}
                  <tr>
                    <td>{{ course.course_name }}</td>
                    <td>{{ course.session_year_id.session_start_year }}  to  {{ course.session_year_id.session_end_year }}</td>
                    <td>{{ course.description }}</td>
                    <td><a href="/edit_course/{{course.id }}" class="btn btn-outline-success">Edit</a> </td>
                    <td><a href="/delete_course/{{course.id }}" class="btn btn-outline-danger">Drop Course</a> </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}