{% extends 'hod_templates/base_template.html' %}
{% block page_title %}
Manage Staff Details
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
  <div class="row">
          <div class="col-12">
            <div class="card">
              
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>First name</th>
                      <th>Last name</th>
                      <th>Username</th>
                      <th>Email</th>
                      <th>Subject Teaches</th>
                      <th>Address</th>
                      <th>Last login</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for staff in staffs %}
                  <tr>
                    <td>{{ staff.admin.first_name }}</td>
                    <td>{{ staff.admin.last_name }}</td>
                    <td>{{ staff.admin.username }}</td>
                    <td>{{ staff.admin.email }}</td>
                    <td>{{ staff.subject_teach }}</td>
                    <td>{{ staff.address }}</td>
                    <td>{{ staff.admin.last_login }}</td>

                    <td><a href="/edit_staff/{{staff.admin.id }}" class="btn btn-outline-success">Edit</a> </td>
                    <td><a href="/admin_sendnotification_staff/{{staff.admin.id }}" class="btn btn-outline-success">Send/View Notification</a> </td>
                    <td><a href="/delete_staff/{{staff.id }}" class="btn btn-outline-danger">Remove Staff</a> </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}