{% load static %}
<link rel="stylesheet" href="path/to/fontawesome.min.css" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
  integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7"
  crossorigin="anonymous"
/>
<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
  rel="stylesheet"
/>

<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <!-- <a href="index3.html" class="brand-link">
    <img
      src="{% static 'dist/img/AdminLTELogo.png' %}"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">SMS Branch</span>
  </a> -->

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="{% static 'dist/img/user_icon.png' %}"
          class="img-circle elevation-2"
          alt="User Image"
          style="height: 2.5rem; width: 2.5rem"
        />
      </div>
      <div class="info">
        <a href="/admin_profile" class="d-block">{{ user.username }}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-open">
          <a href="http://127.0.0.1:8000/admin_home" class="nav-link">
            <i class="nav-icon fa fa-home"></i>
            <p>HOME</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/add_session" class="nav-link">
            <i class="nav-icon fa fa-pencil-square-o"></i>
            <p>Add Session Year</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/add_course" class="nav-link">
            <i class="nav-icon fa fa-pencil-square-o"></i>
            <p>Add Courses</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/add_subject" class="nav-link">
            <i class="nav-icon fa fa-pencil-square-o"></i>
            <p>Add Subject</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/add_staff" class="nav-link">
            <i class="nav-icon fa fa-pencil-square-o"></i>
            <p>Add Staff</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/add_student" class="nav-link">
            <i class="nav-icon fa fa-pencil-square-o"></i>
            <p>Add Student</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/manage_session" class="nav-link">
            <i class="nav-icon fa fa-pencil-square-o"></i>
            <p>Manage Session</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/manage_course" class="nav-link">
            <i class="nav-icon fa fa-pencil-square-o"></i>
            <p>Manage Courses</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/manage_subject" class="nav-link">
            <i class="nav-icon fa fa-pencil-square-o"></i>
            <p>Manage Subject</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/manage_staff" class="nav-link">
            <i class="nav-icon fa fa-pencil-square-o"></i>
            <p>Manage Staff</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/manage_student" class="nav-link">
            <i class="nav-icon fa fa-pencil-square-o"></i>
            <p>Manage Student</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/staff_feedback_message" class="nav-link">
            <i class="nav-icon fa fa-pencil-square-o"></i>
            <p>Feedback from Staff</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/student_feedback_message" class="nav-link">
            <i class="nav-icon fa fa-pencil-square-o"></i>
            <p>Feedback from Student</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/staff_leave_view" class="nav-link">
            <i class="nav-icon fa fa-pencil-square-o"></i>
            <p>Leave Requests by Staff</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/student_leave_view" class="nav-link">
            <i class="nav-icon fa fa-pencil-square-o"></i>
            <p>Leave Requests by Student</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
