{% extends 'hod_templates/base_template.html' %}
{% block page_title %}
Students Feedback
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">

              <!-- /.card-header -->
              <!-- form start -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Student Session</th>
                        <th>Recieved Timing</th>
                        <th>Student Feedback</th>
                        <th>Feedback Reply</th>
                        <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for feed in feedback %}
                  <tr>
                      <td>{{ feed.student_id.admin.first_name }} {{ feed.student_id.admin.last_name }}</td>
                      <td>{{ feed.student_id.session_year_id.session_start_year }} TO {{ feed.student_id.session_year_id.session_end_year }}</td>
                      <td>{{ feed.created_at }}</td>
                      <td>{{ feed.feedback }}</td>
                      <td>{{ feed.feedback_reply }}</td>
                    <td><a href="/edit_student_reply/{{feed.id }}" class="btn btn-success">Reply</a> </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
{% endblock main_content %}